/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/



/*-----------------------------HEADER----------------------------*/
.Flex{
display: flex;
align-items: center;
justify-content: space-evenly;
}


header{
    height: 10vh;
    margin: 10px;
}

/*--------------LOGO-----------------*/
.BoxLogo{
    width: 10%;
   text-align: end;
}

/* .Logo{
    width: 50%;

    padding-top: 15px;
} */

/*----------------NAV----------------*/

nav{
    width: 35%;
    padding-top: 20px;
    position: sticky;
   
}
nav .ListeNav{
    display: block;
    text-decoration: none;
    color: #000000;
}
.ListeNav{
    color: #000000;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Changa one', cursive;
    padding: 5px;
    transition: 0.2s; 
}
  nav .ListeNav:hover{
    color: #f69e06;
    text-decoration: underline 2px #cb8205;
    }

.Border{
    border-left: 1px black dotted;
}
.Fleche{
    width: 10px;
    height: 10px;
   
}
/*----------Menu Deroulant-----------*/
.Sous-Menu{
    display: none;
    background: transparent;
    position: absolute;
    z-index: 1000;
}
    nav > ul li:hover .Sous-Menu{
        display: block;
    }
.Sous-Menu li{
    width: 100%;
    text-align: center;
}
.Sous-Menu a{
   background: transparent; 
}

nav ul li{
position: relative;
}
.d{
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    text-decoration: none;
    color: #000000;
}
.deroulant{
    padding-bottom: 5px;
}
    .deroulant :hover{
        text-decoration: underline 1px #f69e06;
        color: #f69e06;
    }

/*----------------TEL-----------------*/

.BoxTel{
    width: 15%;
    padding-top: 20px;
    display: flex;
    justify-content: flex-start;
}
.LogoTel{
    /* height: 25px;
    width: 25px; */
    margin: 5px; 
}
.Numero{
    padding-top: 10px;
    font-weight: 0;
    font-size: 16px;
    font-family: 'Changa one', cursive;
    color: #000000;
}