/* header */

.flex__header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
} 
    
.flexb{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
    
header{
    height: 10vh;
    margin: 10px;
}
.containerheader{
    padding-top: 0;
    
}
.zlogo{
    width: 30%;
    justify-content: flex-end;
}
.logo__header{
    width: 70%;
    padding-top: 20px;
}
nav{
    width: 35%;
    padding-top: 20px;
       
}
.liste{
    color:var(--text-color);
    text-align: center;
    text-decoration: none;
    padding: 5px;
    font-size: 16px;
    font-family: 'Changa one', cursive; 
    transition: 1s;
}
.border{
        border-left: 1px var(--text-color) dotted;
}
.fleche{
        width: 10px;
        height: 10px;
        padding-right:  2px ;
}
.tel{
        width: 15%;
        padding-top: 20px;
        display: flex;
        justify-content: flex-start;
}
.boitier{
        height: 25px;
        width: 25px;
        margin: 5px; 
}
.numero{
        padding-top: 10px;
        font-weight: 0;
        font-size: 16px;
        font-family: 'Changa one', cursive;
        color: var(--text-color);
}

 /* main-photo */

.main__section{
    margin-top: 70px;
}
.main__bg{
    height: 740px;
    background-image: url(../images/home-slide-2-1902x738.jpg); 
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 100px auto 0;
}
.main{
    width: 30%;
    display: flex;
    padding-top: 200px;
    
}
.main-photo__text{
    font-weight: 200;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    font-family:'Changa One', cursive;
    color: var(--main-background-color);
}
.main__decor{
    width: 70px;
    border-bottom: 2px solid var(--main-background-color);
    margin: 0 auto;  
}

/* about-Restoral */

.about-Restoral__left{
    width: 10%;
}
.about-Restoral__photo{
    width: 40%;
    padding-left: 15px;
    padding-right: 15px;
}
.about-Restoral__description{
    width: 50%;
}
.about-Restoral__title{
    color: var(--text-color);
}
.about-Restoral__text{
    width: 70%;
    margin-top: 15px;
    margin-bottom: 25px;
    color: var(--text-footer-color);
}
.about-Restoral__items{
    margin-bottom: 60px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
.about-Restoral__number{
    font-family:'Changa One', cursive;
    font-weight: 200;
    font-size: 30px;
    line-height: 1.61;
    letter-spacing: 0.06em;

    color: var(--accent-color);
}
.about-Restoral__name{
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
}

/* pizza-day */

.pizza-day{
    height: 572px;
    background-image: url(../images/parallax-06.jpg); 
    background-size: cover;
    background-position: center;
    align-items: center;
    padding: 100px auto 0; 
    text-align: center;
}
.pizza-day__free-title{
    padding-top: 200px;
}
.pizza-day__promo{
    justify-content: center;
    text-align: center;
}
.pizza-day__title{
    font-size: 42px; 
}
.pizza-day__price{
    margin-right: 30px;
    font-size: 56px;
    font-weight: 700;
    color: var(--accent-color);  
}
.pizza-day__item{
    text-align: left;
    
}
.pizza-day__list{
    font-size: 28px;  
}
.pizza-day__button{
    margin-top: 30px;
}
/* .icon{
    display: inline-block;
    width: 200px;
    height: 20px;
    fill: var(--accent-color);
} */
/* .pizza-day__free-decor{
    width: 70px;
    border-bottom: 2px solid var(--accent-color);
    margin: 0 auto;   

} */

/* advantage */

.advantage__list{
    width: 25%;
    padding: 15px;
}
.accent{
    width: 70px;
    border-bottom: 2px solid var(--accent-color);
    margin: 0 auto;
}
.advantage__title{
    margin-top: 22px;
    margin-bottom: 22px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
}
.advantage__icon{
    display: block;
    margin: 0 auto;
    fill: var(--accent-color);
}
.advantage__text{
    margin-top: 22px;
    text-align: center;
} 

/* testimonials */

.testimonials__item{
    width: 33%;
    text-align: center;
  
}
.testimonials__photo{
    width: 40%;
    margin: 0 auto;
    border-radius: 50%;
}
.testimonials__title{
    margin-top: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--text-color);
}
.testimonials__text{
    width: 70%;
    margin: 20px auto;
}
.testimonials__name{
    color: var(--text-footer-color);
}