/* font-family: 'Lato', sans-serif;
font-family: 'Changa One', cursive; */

/* BASE */
@import './ourChefs.css';
@import './footer.css';
@import './team.css';
@import './contacts.css';
@import'./home-page.css';
@import'./header.css';
/* @import'./blog.css'; */
@import'./menu.css';
@import'./baspage.css';

:root {
    --text-color: #212121;
    --text-footer-color: #acaaaa;
    --accent-color: #f2a413;
    --footer-background-color: #2F303A;
    --main-background-color: #FFFFFF;
    --color-button: #ea5259;
    --bg-input-color: #dcd8d8;
     }  

*,
*::before,
*::after{
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
/* article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    padding: 0;
    margin: 0;
}
li{
   list-style: none;   
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    
}
.container{
   
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width:480px){
       width: 480px;
    }

    @media screen and (min-width:768px){
       width: 768px;
    }

    @media screen and (min-width:1200px){
      width: 1200px;
   }
}
body {
   font-family: Roboto, sans-serif ;
   background-color: var(--main-background-color);
   color: var(--text-color) ;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
header{
   border-bottom: 1px solid var(--border-color);
}
img{
   display: block;
   max-width: 100%;
   height: auto;
}

p,input,textarea,label{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
}
h1,h2,h3{
    font-family:'Changa One', cursive;
    font-weight: 200;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-background-color);
}
footer{
    background-color: var(--footer-background-color);
}

