/* font-family: 'Lato', sans-serif;
font-family: 'Changa One', cursive; */

/* BASE */
@import './ourChefs.css';
@import './footer.css';
@import './team.css';
@import './contacts.css';
@import'./home-page.css';
@import'./header.css';
@import'./blog.css';
@import'./menu.css';


:root {
    --text-color: #212121;
    --text-footer-color: #acaaaa;
    --accent-color: #f2a413;
    --footer-background-color: #2F303A;
    --main-background-color: #FFFFFF;
    --color-button: #ea5259;
    --bg-input-color: #dcd8d8;
     }  

*,
*::before,
*::after{
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul{
    padding: 0;
    margin: 0;
}
li{
   list-style: none;   
}
section{
    padding-top: 50px;
    padding-bottom: 50px;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    
}
.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}
    @media screen and (min-width:480px){
        .container{
          width: 480px;  
        }
       
    }

    @media screen and (min-width:768px){
        .container{
           width: 768px; 
        }
        
    }

    @media screen and (min-width:1200px){
        .container{
            width: 1200px; 
        }
     
   }

body {
   font-family: Roboto, sans-serif ;
   background-color: var(--main-background-color);
   color: var(--text-color) ;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
header{
   border-bottom: 1px solid var(--border-color);
}


p,input,textarea,label{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
}
h1,h2,h3{
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-background-color);
}
footer{
    background-color: var(--footer-background-color);
}

/* @media screen and (max-width:767px)
@media screen and (min-width:768px)
@media screen and (min-width:1200px)
@media screen and (min-width:768px) and (max-width:1199px) */
/* .nav_header{
    @media screen and (max-width:479px){
        display:none
    } 
} */

    @media screen and (max-width:767px){
        .nav_header{
           display: none;  
        } 
        .logo__header{
            width: 100%;
           margin: 0 auto;
   
        }
        .mobil-menu{
            margin-left: 15px;
        }
        .main__section{
            display: none; 
        }
        .about-Restoral{
          
            display: block;
        }
        .about-Restoral__left{
            display: none; 
        }
        .about-Restoral__photo{
            display: none; 
        }
        .about-Restoral__description{
            width: 100%;
            margin: 0 auto;
        }
        .about-Restoral__title{
            text-align: center;
        }
        .about-Restoral__text{
            text-align: center;
            width: 100%;
        }
        .about-Restoral__items{
            display: block;
        }
        .mobil__button{
            
           text-align: center;
        }
        .advantage{
            display: block;  
        }
        .advantage__list{
            width: 100%;
        }
        .our-chefs__mobil{
            display: block;
        }
        .our-chefs__items{
            width: 100%;
            margin-bottom: 20px;
        }
        .ContainerPartner {
            display: none; 
        }
        .photo{
            display: none; 
        }
        .testimonials{
            display: block;
        }
        .testimonials__item{
            width: 100%; 
            margin-bottom: 20px;
        }
        .footer-menu{
            display: none; 
        }
        .ContainerMenu{
            display: none;
        }
        
        }


        @media screen and (min-width:1200px){
            .mobil-menu{
                display: none;   
            } 

        }